<app-modal>
  <div id="image-modal" class="popup-modal">
    <div class="video-wrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ktw7WFChMOU?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="description-box">
      <h4>MLP First Amendment NYE</h4>
      <p>Client: Starz</p>
      <span class="categories"><span class="fa fa-tag"></span>Image</span>
    </div>

    <div class="link-box">
      <a class="popup-modal-dismiss" (click)="close()">Close</a>
    </div>
  </div>
</app-modal>
