<app-modal>
  <div id="interview-modal" class="popup-modal">
    <div class="video-wrapper">
      <iframe width="560" height="315" [src]="currentVideo.href | safe" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="description-box">
      <h4>The Big Interview with Quentin Tarantino</h4>
      <p>Client: AXS TV</p>
      <span class="categories"><span class="fa fa-tag"></span>Interview</span>
    </div>

    <div class="link-box">
        <a class="popup-modal-previous" (click)="previous()">Previous</a>
        <a class="popup-modal-next" (click)="next()">Next</a>
      <a class="popup-modal-dismiss" (click)="close()">Close</a>
    </div>
  </div>
</app-modal>
