<app-modal>
  <div id="promo-modal" class="popup-modal">
    <div class="video-wrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/0cKIjE3FW3s?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="description-box">
      <h4>Monon Bell</h4>
      <p>Client: HD Net</p>
      <span class="categories"><span class="fa fa-tag"></span>Promo</span>
    </div>

    <div class="link-box">
      <a class="popup-modal-dismiss" (click)="close()">Close</a>
    </div>
  </div>
</app-modal>
