<app-modal>
  <div id="marketing-modal" class="popup-modal">
    <div class="video-wrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/NxCxFsy1g64?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="description-box">
      <h4>Aerosmith Live at Donington</h4>
      <p>Client - This is simply a place holder, I could not find a marketing video.</p>
      <span class="categories"><span class="fa fa-tag"></span>Marketing</span>
    </div>

    <div class="link-box">
      <a class="popup-modal-dismiss" (click)="close()">Close</a>
    </div>
  </div>
</app-modal>
