<section id="about">
  <div class="row">
    <div class="three columns">
      <img class="profile-pic" src="assets/images/profilepic.jpg" alt="" />
    </div>
    <div class="nine columns main-col">
      <h2>About Me</h2>
      <p>Creativity, original thought and humor fuel my life. For over 20 years I've worked in the cable television industry
        as a writer, producer and director. I have a very diverse promo portfolio. I’ve worked on Hollywood blockbusters
        and major picture films, original programming (X-Factor UK), live and taped concerts, professional sports, stand-up
        comedy (Gotham Comedy Live) and news (Dan Rather Reports). I've interviewed and directed A-List celebrities, athletes
        and musicians. I also have extensive experience working with voice over talent and collaborating with social media
        teams for network marketing campaigns.
      </p>
      <div class="row">
        <div class="columns contact-details">
          <h2>Contact Details</h2>
          <p class="address">
            <span>Rich Canaday</span><br>
            <span>975 Lincoln St. Apt 8F<br>Denver, CO 80203</span><br>
            <span>(303) 912-8492</span>
          </p>
        </div>
        <div class="columns download">
          <p>
            <a href="#" class="button"><span class="fa fa-download"></span>Download Resume</a>
          </p>
        </div>

      </div>
      <!-- end row -->

    </div>
    <!-- end .main-col -->

  </div>

</section>
<section id="resume">
  <h1 class="text-center">Work Experience</h1>

  <div class="row production-work">
    <div class="three columns header-col">
      <h1><span>Production</span></h1>
    </div>
    <div class="nine columns main-col">
      <div class="row item">
        <div class="twelve columns">
          <h3>AXS TV</h3>
          <p class="info">Senior Producer / Writer / Director &bull; Denver, CO</p>
          Responsible for on-air promotional, social media and marketing material for cable television.
          <ul>
            <li>Professional ability to direct, write, and produce cable interstitial for Dan Rather Reports, Gotham Comedy Live,
              concerts, mixed media and professional sports.</li>
          </ul>
        </div>
      </div>
      <div class="row item">
        <div class="twelve columns">
          <h3>Starz</h3>
          <p class="info">Producer / Writer / Director / Promotion Scheduler &bull; Englewood, CO</p>
          Responsible for on-air promotional and marketing material for cable television channels.
          <ul>
            <li>Professional ability to write, edit and produce cable interstitial.</li>
            <li>Extensive interview experience with A-list celebrities and voice over talent. </li>
            <li>Technical understanding and collaboration with graphic design and audio departments.</li>
            <li>Directing experience on set with talent, production crews and staff.</li>
            <li>Responsible for analyzing and inputting interstitial on various cable channels.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row marketing-work">
    <div class="three columns header-col">
      <h1><span>Marketing</span></h1>
    </div>
    <div class="nine columns main-col">
      <div class="row item">
        <div class="twelve columns">
          <h3>Society: Sports and Spirits</h3>
          <p class="info">Director of Marketing &bull; Denver, CO</p>
          <ul>
            <li>Managed daily social media and promotional advertising for business operations.</li>
            <li>Boosted Facebook, Twitter, and social media activity and membership.</li>
            <li>Established and expanded network of clients for business and charity functions.</li>
            <li>Planned events using business budgetary guidelines and measures.</li>
            <li>Established relationships and collaborated with several college alumni associations for promotional activities
              assisting with scholarships and funding.</li>
            <li>Daily posted puns, quotes, and photos to daily entertain social media audience.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row related-work">
    <div class="three columns header-col">
      <h1><span>Related</span></h1>
    </div>
    <div class="nine columns main-col">
      <div class="row item">
        <div class="twelve columns">
          <h3>The Jimmy Kimmel Show</h3>
          <p class="info">Production Assistant / Location Scout &bull; Los Angeles, CA</p>
          <ul>
            <li>Assisted production team with showcasing the Democratic Convention in Denver, CO for the The Jimmy Kimmel Show.
            </li>
          </ul>
        </div>
      </div>
      <div class="row item">
        <div class="twelve columns">
          <h3>Film.com</h3>
          <p class="info">Editor &bull; Seattle, WA</p>
          <ul>
            <li>Assisted staff with research, writing and A-List celebrity interviews.</li>
          </ul>
        </div>
      </div>
      <div class="row item">
        <div class="twelve columns">
          <h3>The Lawrentian</h3>
          <p class="info">Editor &bull; Appleton, WI</p>
          <ul>
            <li>Edited and designed the arts/entertainment section.</li>
            <li>Reviewed films, concerts and campus events.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <h1 class="text-center">Education</h1>
  <div class="row college-education">
    <div class="three columns header-col">
      <h1><span>College</span></h1>
    </div>

    <div class="nine columns main-col">
      <div class="row item">
        <div class="twelve columns">
          <h3>Lawrence University &bull; Appleton, WI</h3>
          <p class="info"><em class="date">1992 - 1996</em></p>
          <p>
            Bachelor of Arts Degree in English / Communications
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="portfolio">
  <div class="row">
    <div class="twelve columns collapsed">
      <h1>Check Out Some of My Work.</h1>

      <!-- portfolio-wrapper -->
      <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
        <app-portfolio-item id="portfolio-promos" class="columns" image="assets/images/portfolio/promos-thumbnail.png" modal="#promo-modal">
          <h5>Promos</h5>
          <ul>
            <li>Movies and Shows</li>
            <li>Concerts</li>
            <li>Sports</li>
            <li>News</li>
          </ul>
        </app-portfolio-item>

        <app-portfolio-item id="portfolio-interviews" class="columns" image="assets/images/portfolio/interview-thumbnail.png" modal="#interview-modal">
          <h5>Interviews</h5>
          <p>Web Development</p>
        </app-portfolio-item>

        <app-portfolio-item id="portfolio-image-campaigns" class="columns" image="assets/images/portfolio/image-thumbnail.png" modal="#image-modal">
          <h5>Image and Campaigns</h5>
          <p>Webdesign</p>
        </app-portfolio-item>

        <app-portfolio-item id="portfolio-marketing" class="columns" image="assets/images/portfolio/marketing-thumbnail.png" modal="#marketing-modal">
          <h5>Marketing</h5>
          <p>Photography</p>
        </app-portfolio-item>
      </div>
      <!-- portfolio-wrapper end -->

    </div>
  </div>
  <!-- row End -->
</section>
