<footer>
  <div class="row">
    <div class="twelve columns">
      <!-- <ul class="social-links">
        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
        <li><a href="#"><span class="fa fa-instagram"></span></a></li>
      </ul> -->
      <ul class="copyright">
        <li>&copy; Copyright 2017 Rich Canaday</li>
      </ul>
    </div>
    <div id="go-top">
      <a pageScroll title="Back to Top" href="#home">
        <span class="fa fa-2x fa-chevron-up"></span>
      </a>
    </div>
  </div>
</footer>