<app-modal>
  <div id="interview-modal" class="popup-modal">
    <div class="video-wrapper">
      <iframe width="560" height="315" [src]="currentVideo.href | safe" frameborder="0" allowfullscreen></iframe>
    </div>
    
    <div class="description-box">
      <h4>{{ currentVideo.name }}</h4>
      <span class="categories">
        <span class="fa fa-tag"></span>{{ currentVideo.type }}
      </span>
    </div>

    <div class="link-box">
      <a class="popup-modal-previous" *ngIf="videos.length > 1" (click)="previous()">Previous</a>
      <a class="popup-modal-next" *ngIf="videos.length > 1" (click)="next()">Next</a>
      <a class="popup-modal-dismiss" (click)="close()">Close</a>
    </div>
  </div>
</app-modal>
